EXPO_TOKEN=your_expo_token

EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your_google_ios_client_id
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your_google_web_client_id
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your_google_android_client_id
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_SECRET=your_google_web_client_secret
EXPO_PUBLIC_GOOGLE_REDIRECT_URI=https://auth.expo.io/@your_username/kharcha

EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0
RCT_METRO_PORT=8081

# backend
EXPO_PUBLIC_API_URL=http://localhost:3000
POSTMARK_WEBHOOK_TOKEN=your_postmark_webhook_token

# deployment
RAILWAY_TOKEN=your_railway_token
RAILWAY_PROJECT_ID=your_railway_project_id
GEMINI_API_KEY=your_gemini_api_key
EXPO_PUBLIC_GEMINI_API_KEY=your_gemini_api_key

#prod
# EXPO_PUBLIC_API_URL=https://kharcha-backend-production.up.railway.app